.container {
  width: 90%;
  height: 90vh;
  padding: 24px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.msg-box {
  border: 1px solid #ccc;
  width: 500px;
  height: 300px;
  padding: 10;
  overflow-y: auto;
}

.input-box {
  margin: 20px 0 0 10px;
  width: 420px;
  height: 40px;
}